* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: roboto, helvetica;
    font-style: normal;
}

body {
  background: url(./assets/wallpaper-full-stack-web-development.jpg);
  position: absolute;
  border-radius: 0;
}

.curriculo {
  margin: 10%;
}

.asideposition {
  display: flex;
  text-align: justify;
}

main {
  width: 80%;
  background: whitesmoke;
  padding: 5%;
}

aside {
  background: #822e21;
  padding: 5%;
  color: whitesmoke;
}

.espacobarra {
  position: relative;
  top: 80px;
}

.redesocial{
  margin-left: 20px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.itemredesocial {
  text-align: center;
  margin-right: 30px;
}

header {
  background: whitesmoke;
  width: 90%;
  padding: 5%;
  height: 15%;
  display: flex;
  text-align: center;
  align-items: center;
  text-align: center;
}

.foto-head {
  position: relative;
  width: 160px;
  left: 5%px;
  top: 5%;
  border-radius: 50%;
  margin: 2%;
}

.especialidadenome {
  position: relative;
  text-align: center;
}

.nome {
  color: #822e21;
  font-weight: normal;
  font-size: 48px;
  line-height: 48px;
}

.perfil, 
.experiencias, 
.formacao, 
.projetos,
.habilidades, 
.div-conhecimentos, 
footer {
  font-weight: 30px;
  font-size: 12px;
  line-height: 18px;
  margin: 10px;
  padding: 10px;
}

.contatos {
  font-weight: 30px;
  font-size: 12px;
  line-height: 18px;
}

.experienciaslista, 
.contatos, 
.redesocial {
  list-style: none;
}

.conhecimentos {
  margin-left: 20px;
  margin-top: 10px;
}

.logoredesocial {
  width: 40px;
  display: flex;
  flex-wrap: nowrap;
}

.logo-insta {
  width: 60px;
  display: flex;
  flex-wrap: nowrap;
}

a {
  text-decoration: none;
}

.down-curriculo {  
  background: #00dc6e;
  width: 140px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #38120c;
  border-radius: 20px;
}

.down-curriculo:hover {  
  background: #00142c;
  color: aliceblue;
}

.down-curriculo:active {
  background: #ffcc73;
  color:  #00142c;
}

footer {
  margin: unset;
  height: 80px;
  background: #ffcc73;
  text-align: center;
  font-size: 26px;
}

.content {
  padding: 5px;
}

.sitacao {
  position: relative;
  top:30%;
}

@media (max-width: 541px) {
  * {
      margin: 0;
      padding: 0;
      border: 0;
      box-sizing: border-box;
      font-family: roboto, helvetica;
      font-style: normal;
  }

  html, body {
    width: 100vw;
  }

  body {
    background: lightblue;
  }

  .curriculo {
    width: 100%;
    margin: 0;
  }
  
  .asideposition {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
  }
  
  main {
    width: 100%;
    background: whitesmoke;
    padding: 5%;
  }
  
  aside {
    margin: 0;
    width: 100vw;
    height: 450px;
    background: #822e21;
    padding-left: 30%;
    padding: 5%;
    color: whitesmoke;
  }
  
  .espacobarra {
    width: 100vw;
    position: relative;
    top: 80px;
  }
  
  .redesocial{
    margin-left: 20px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .itemredesocial {
    text-align: center;
    margin-right: 30px;
  }
  
  header {
    background: whitesmoke;
    width: 90%;
    padding: 5%;
    height: 15%;
    display: flex;
    text-align: center;
    align-items: center;
    text-align: center;
  }
  
  .foto-head {
    position: relative;
    width: 160px;
    left: 5%px;
    top: 5%;
    border-radius: 50%;
    margin: 2%;
  }
  
  .especialidadenome {
    position: relative;
    text-align: center;
  }
  
  .nome {
    color: #822e21;
    font-weight: normal;
    font-size: 48px;
    line-height: 48px;
  }
  
  .perfil, 
  .experiencias, 
  .formacao, 
  .projetos,
  .habilidades, 
  .div-conhecimentos {
    font-weight: 30px;
    font-size: 12px;
    line-height: 18px;
    margin: 10px;
    padding: 10px;
  }
  
  .contatos {
    font-weight: 30px;
    font-size: 12px;
    line-height: 18px;
  }
  
  .experienciaslista, 
  .contatos, 
  .redesocial {
    list-style: none;
  }
  
  .conhecimentos {
    margin-left: 20px;
    margin-top: 10px;
  }
  
  .logoredesocial {
    width: 40px;
    display: flex;
    flex-wrap: nowrap;
  }
  
  .logo-insta {
    width: 60px;
    display: flex;
    flex-wrap: nowrap;
  }
  
  footer {
    height: 200px;
    font-weight: 30px;
    font-size: 12px;
    line-height: 18px;
    margin: 0;
    height: 80px;
    background: #ffcc73;
    text-align: center;
    font-size: 26px;
  }
  
  .content {
    padding: 5px;
  }
  
  .sitacao {
    position: relative;
    top:30%;
  }
}